@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito';
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15rem 70% auto;
    grid-template-rows: 5rem 25rem auto auto 3rem;
    grid-template-areas:
        'header header header'
        'article main toptags'
        'article main experts'
        'article main .'
        'article footer footer';
    color: white;
    background: linear-gradient(rgb(108, 171, 194), black);
    background-color: black;
    background-attachment: fixed;
}

.App.landing {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header'
        'main';
}

.App a {
    color: #ffffff;
    text-decoration: none;
}
.navbar {
    grid-area: header;
    height: 5rem;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(89, 87, 87, 0.8) 6px 2px 10px 0px,
        rgba(89, 87, 87, 0.8) -6px -2px 10px 0px;
    z-index: 5;
}
.main {
    grid-area: main;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.article {
    grid-area: article;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #111;
    box-shadow: rgba(89, 87, 87, 0.8) 6px 2px 10px 0px,
        rgba(89, 87, 87, 0.8) -6px -2px 10px 0px;
}

.footer {
    grid-area: footer;
    opacity: 50%;
    min-width: 100%;
    background-color: #111;
    align-self: center;
    text-align: center;
}
.aside {
    grid-area: aside;
}
.footer-long {
    position: absolute;
    bottom: 1rem;
    opacity: 50%;
    min-width: 100%;
    align-self: center;
    text-align: center;
}

.error {
    position: fixed;
    width: 100vw;
    padding: 1rem;
    background-color: red;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    z-index: 10000000;
}

.error p {
    flex-grow: 1;
}
.error button {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid #000000;
    height: 1.7rem;
    width: 4rem;
    align-self: flex-end;
}
.home {
    font-size: 2rem;
}

.find-experts {
    grid-area: experts;
}
