@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito';
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 7.5rem 7.5rem 22.5rem 22.5rem auto 25rem;
    grid-template-rows: 5rem 30rem 18rem auto 3rem;
    grid-template-areas:
        'header header header header header header'
        'article article main main main toptags'
        'article article main main main experts'
        'article article main main main .'
        'article article footer footer footer footer';
    color: white;
}
.App a {
    color: #ffffff;
    text-decoration: none;
}
.navbar {
    grid-area: header;
    border-bottom-style: outset;
    border-bottom-width: 1px;
    height: 5rem;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.main {
    grid-area: main;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.article {
    grid-area: article;
    margin-top: 0.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #111;
    border-right-style: outset;
    border-right-width: 1px;
}

.footer {
    grid-area: footer;
    opacity: 50%;
    min-width: 100%;
    background-color: #111;
    align-self: center;
    text-align: center;
}
.aside {
    grid-area: aside;
}
.footer-long {
    position: absolute;
    bottom: 1rem;
    opacity: 50%;
    min-width: 100%;
    align-self: center;
    text-align: center;
}

.error {
    position: fixed;
    width: 100vw;
    padding: 1rem;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10000000;
}

.error p {
    flex-grow: 1;
}
.home {
    font-size: 2rem;
}

.find-experts {
    grid-area: experts;
}

.table-tags {
    grid-area: toptags;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 7rem;
}
