.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-fg {
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
    color: black;
    padding: 20px;
    text-align: center;
    min-width: 40rem;
    min-height: 30rem;
}

.change-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.change-avatar h1 {
    align-self: center;
    margin-bottom: 0;
}

.preview {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-bottom: 1rem;
}
.change-avatar input[type='file'] {
    display: none;
}
.change-avatar button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #181a1f;
    border-radius: 6px;
    border: 2px solid #000000;
}
