.navbar {
  height: 60px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.navbar .user {
  font-size: 16pt;
}

.navbar .login-button {
  margin-right: 30vw;
  border-radius: 4px;
}

.navbar img {
  margin-left: 20vw;
  border-radius: 4px;
  height: 60px;

  vertical-align: middle;
  margin-right: 8px;
}
