.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 4rem;
    margin-left: 6rem;
    padding: 0.5rem;
}

#app-logo {
    width: 2.7rem;
    height: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    border-radius: 3px;
}
.logo-container:hover {
    filter: invert(100%);
}

.profile-menu {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.log-button {
    font-size: 15px;
    border: 1px solid white;
    padding: 0.3rem;
    width: 7rem;
    text-align: center;
    margin-right: 5rem;
    text-decoration: none;
}
.log-button:hover {
    font-weight: bolder;
    cursor: pointer;
    color: black;
    background-color: white;
    border-color: black;
}
.pregunta-button {
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem;
}

.pregunta-button:hover {
    color: black;
    background-color: white;
    border-color: black;
}
