.profile {
    display: grid;

    gap: 2rem;
}

.box {
    background-color: lightgray;
    border-radius: 1rem;
    border: 3px solid #9a9a9a;
    width: 500px;
    color: black;
    padding: 1rem;
}

.userinfotext {
    background-color: lightgray;
    border-radius: 1rem;
    border: 3px solid #9a9a9a;
    color: black;
    width: 500px;
}

.profile .tabs a {
    display: inline-block;
    width: 100px;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    padding: 4px 8px;
    text-decoration: none;
}

.profile .tabs a:last-child {
    border-right: 1px solid #444;
}

.profile .tabs a.active {
    background-color: #9a9a9a;
}

.profile .tabs a:hover {
    background-color: #444;
}

.profile .box .content {
    border: 1px solid #444;
    padding: 20px;
    min-height: 40vh;
}
