.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile > h1 {
    text-align: center;
    background-color: black;
    padding: 0.5rem;
}

.pencil {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    margin-left: 18rem;
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
}

.profile .tabs a {
    display: inline-block;
    width: 8rem;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    padding: 4px 8px;
    text-decoration: none;
}

.profile .tabs a:last-child {
    border-right: 1px solid #444;
}

.profile .tabs a.active {
    background-color: #9a9a9a;
}

.profile .tabs a:hover {
    background-color: #444;
}

.profile .box .content {
    border: 1px solid #444;
    padding: 20px;
    min-height: 40vh;
}
.info-queso-grid {
    display: grid;
    grid-template-columns: 50rem 25rem;
    grid-template-rows: 3rem 3rem 2rem 2rem 4rem;

    gap: 1rem;
    grid-template-areas:
        '. queso'
        'nombre .'
        'email .'
        'rol .'
        'descripcion .';
}

.box-nombre {
    grid-area: nombre;
    background-color: lightgray;
    color: black;
    padding: 1rem;
    margin: 1rem;
}
.box-email {
    grid-area: email;
    background-color: lightgray;
    color: black;
    padding: 1rem;
    margin: 1rem;
}
.box-rol {
    grid-area: rol;
    background-color: lightgray;
    color: black;
    padding: 1rem;
    margin: 1rem;
}

.box-descripcion {
    grid-area: descripcion;
    background-color: lightgray;
    color: black;
    padding: 1rem;
    margin: 1rem;
}
.profile-queso {
    grid-area: queso;
}
