.question {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;

    padding: 1rem;
}

.question-title {
    text-transform: capitalize;
    font-size: 2rem;
    padding-left: 1rem;
}
.question-userinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;
}
.question-userfoto {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
}
.question-username {
    font-weight: bold;
    font-size: 1.2rem;
}
.question-date {
    font-weight: normal;
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
}

.question-body {
    font-size: 2rem;
    word-wrap: break-word;
    border-radius: 10px;
    color: white;
    padding-left: 1rem;
    margin-left: 1rem;
}

/*----------------AddAnswer---------------*/

.add-answer {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    padding-left: 1rem;
    width: 40rem;
    margin-left: 21rem;
}

.add-answer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.add-answer-quill {
    background-color: rgb(212, 212, 212);
    border-radius: 4px;
    min-width: 10rem;
    width: 39rem;
    min-height: 15rem;
    color: black;
    margin-bottom: 0.5rem;
}
.ql-container.ql-snow {
    border: none;
    font-size: 1.3rem;
}
.ql-editor {
    margin-top: 1rem;
}
.add-answer-button {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    border-radius: 15%;
}

/*----------------Answers---------------*/

.answer {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-top: 1px solid white;
}
.answer-body {
    word-wrap: break-word;
    font-size: 1.3rem;
    border-radius: 4px;
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    margin-top: 0.5rem;
}
.answer-owner {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding-left: 2rem;
}
.answer-userfoto {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
}
.answer-username {
    font-weight: bold;
    font-size: 1rem;
}
.answer-namefoto {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
}

.answer-date {
    font-weight: normal;
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
}

/*----------------AddComment---------------*/

.add-comment {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
.add-comment-form {
    display: flex;
    align-items: center;
}
.add-comment-input {
    height: 2.3rem;
    width: 30rem;
    background-color: rgb(212, 212, 212);
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 4px;
    color: black;
    padding-left: 0.5rem;
    margin-left: 25rem;
}
.add-comment-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 20%;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

/*----------------Comment---------------*/

.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 30%;
    border-top: 1px solid white;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
}
.comment-body {
    margin-top: 0.5rem;
    word-wrap: break-word;
    min-height: 2.5rem;
    padding-left: 2rem;
}
.comment-owner {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding-left: 2rem;
}
.comment-userfoto {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.comment-username {
    font-weight: bold;
    font-size: 0.8rem;
}
.comment-namefoto {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
}

.comment-date {
    font-weight: normal;
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
}
