.question {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.question-title {
    text-transform: capitalize;
    font-size: 2rem;
    padding-left: 1rem;
}
.question-userinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}
.question-userfoto {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
}
.question-username {
    font-weight: bold;
    font-size: 1.2rem;
}
.question-date {
    font-weight: normal;
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
}

.question-body {
    font-size: 2rem;
    word-wrap: break-word;
    background-color: lightgray;
    width: 60rem;
    min-height: 10rem;
    max-height: 10rem;
    box-shadow: 1px 1px 1px white;
    border-radius: 4px;
    color: black;
    padding: 1rem;
}

/*----------------AddAnswer---------------*/

.add-answer {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    padding-left: 1rem;
    width: 40rem;
    margin-left: 20rem;
}

.add-answer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.add-answer-quill {
    background-color: white;
    border-radius: 4px;
    min-width: 10rem;
    width: 39rem;

    min-height: 15rem;
    color: black;
    margin-bottom: 0.5rem;
}
.ql-toolbar {
    border-radius: 4px;
}
.ql-container {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ql-editor {
    background-color: lightgray;
    margin-top: 1rem;
}
.add-answer-button {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    border-radius: 15%;
}

/*----------------Answers---------------*/

.answer {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.answer-body {
    word-wrap: break-word;
    min-width: 10rem;
    max-width: 30rem;
    min-height: 2rem;
    max-height: 10rem;
    box-shadow: 1px 1px 1px white;
    border-radius: 4px;
    color: white;
}
.answer-owner {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.answer-userfoto {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
}
.answer-username {
    font-weight: bold;
    font-size: 0.8rem;
}
.answer-namefoto {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
}

.answer-date {
    font-weight: normal;
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
}

/*----------------AddComment---------------*/

.add-comment {
    padding: 0.5rem;
}
.add-comment-form {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
}
.add-comment-input {
    height: 2.3rem;
    width: 20rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 4px;
}
.add-comment-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 20%;
    background-size: cover;
    background-position: center;
}

/*----------------Comment---------------*/
