.table-tags {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 170px;
}

.top-tags {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1.5px 1.5px 3px rgb(126, 120, 120);
    border-radius: 2px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-image: linear-gradient(to top left, #000000, #708090);
    box-shadow: 1.5px 1.5px 3px rgb(126, 120, 120);
    border-radius: 2px;
}
.tags {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 170px;
    background-image: linear-gradient(to top left, #000000, #708090);
    box-shadow: 1.5px 1.5px 3px rgb(126, 120, 120);
    transition: transform 200ms ease-out 100ms;
    border-radius: 2px;
}
.tags:hover {
    transform: scale(1.1, 1.1);
}
.tag-results h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin-top: 0;
    font-weight: 600;
    background-color: black;
}
