.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-fg {
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
    color: black;
    padding: 20px;
    text-align: center;
    min-width: 50rem;
}

.update-foto {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    align-self: center;
    box-shadow: 0px 1px 2.5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre {
    display: flex;
    gap: 0.2rem;
    background-color: lightgray;
}
.nombre input {
    min-width: 22rem;
    min-height: 2rem;
}

.text-area {
    display: flex;
    gap: 0.3rem;
    margin-left: 0.2rem;
}
.text-area textarea {
    min-width: 22.3rem;
    min-height: 5rem;
    border-radius: 5px;
}

.update-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.update-user-h1 {
    text-align: center;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: lightgray;
}

.preview {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-bottom: 1rem;
}
.update-user input[type='file'] {
    display: none;
}
.update-user button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #181a1f;
    border-radius: 6px;
    border: 2px solid #000000;
}
