.perfil-usuario-tercero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.perfil-usuario-tercero-title {
    text-align: center;
    font-size: 2rem;
    background-color: black;
    padding: 0.3rem;
}

.datos-usuario {
    padding: 1rem;
    padding-top: 0.3rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 10rem 20rem 15rem 20rem;
    grid-template-rows: 3rem 3rem 3rem 4rem;
    grid-template-areas:
        'foto    dot dot queso'
        'foto nombre nombre queso'
        'foto email email queso'
        'foto descrp descrp queso';
    gap: 1rem;
}
.avatar {
    grid-area: foto;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
    box-shadow: 0px 1px 2.5px grey;
}
.namefoto {
    grid-area: foto;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
    margin-left: 1rem;
    margin-top: 2rem;
}
.datos-usuario-nombre {
    grid-area: nombre;
    color: black;
    background-color: white;
    border-radius: 1.5%;
    padding: 0.2rem;
    font-size: 1.15rem;
}
.datos-usuario-email {
    grid-area: email;
    color: black;
    background-color: white;
    border-radius: 1.5%;
    padding: 0.2rem;
    font-size: 1.15rem;
}

.datos-usuario-puntos {
    grid-area: puntos;
    padding: 1rem;
}
.datos-usuario-descripcion {
    grid-area: descrp;
    color: black;
    background-color: white;
    border-radius: 1.5%;
    font-size: 1.15rem;
    padding: 0.2rem;
}
.datos-usuario-queso {
    grid-area: queso;
    font-size: 2rem;
}

.datos-usuario-dot {
    grid-area: dot;
}
